<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context"
>

    <context:annotation-config />

    <bean id="pointA" class="spring.core.iTransform.basic.Point">
        <qualifier value="circleRelated" />
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointB" class="spring.core.iTransform.basic.Point">
        <property name="x" value="-20"/>
        <property name="y" value="6"/>
    </bean>

    <bean id="pointC" class="spring.core.iTransform.basic.Point">
        <property name="x" value="20"/>
        <property name="y" value="9"/>
    </bean>

    <bean id="circle" class="spring.core.iTransform.basic.Circle" />

</beans>